.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include transitions(opacity);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden {
  .modal {
    transform: scale(0);
  }
}
.modal {
  max-width: 450px;
  width: 100%;
  background-color: getColor('bgc-main');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  @include transitions(opacity);

  @media screen and (min-width: 481px) {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    max-width: 528px;
    width: 100%;
  }
}
.modal__close-button {
  position: absolute;
  top: 101px;
  right: 23px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: getColor('bgc-main');
  cursor: pointer;
  &:hover,
  &:focus {
    fill: getColor('button');
    outline: none;
  }

  @media screen and (min-width: 481px) {
    top: 8px;
    right: 8px;
  }
}
