.benefit {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefit__title--hidden {
  @include title-hidden;
}

.benefit__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.benefit__item {
  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desctop) {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    display: block;
    content: '';
    height: 120px;
    background-color: getColor('bgc-secondary');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.antenna::before {
  background-image: url(../images/images-optimisized/svg/antenna.svg);
  background-size: 70px;
}

.clock::before {
  background-image: url(../images/images-optimisized/svg/clock.svg);
  background-size: 70px;
}

.diagram::before {
  background-image: url(../images/images-optimisized/svg/diagram.svg);
  background-size: 70px;
}

.astronaut::before {
  background-image: url(../images/images-optimisized/svg/astronaut.svg);
  background-size: 70px;
}

.benefit__name {
  @media screen and (max-width: $max-mobile) {
    text-align: center;
  }

  font-weight: 700;
  font-size: getFont-size('main');
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefit__essence {
  color: getColor('grey-text');
  font-size: getFont-size('main');
  line-height: 1.7;
}
