.card__list {
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.card__item {
  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 8) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:nth-child(-n + 6) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(3n + 3)) {
      margin-right: 30px;
    }
  }
}

.card__link {
  display: block;
}
.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.card__image {
  display: block;
  position: relative;
}
.image {
  display: inline-block;
}
.card__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;

  @include transitions(transform opacity box-shadow);
}
.card__summary {
  font-size: 18px;
  line-height: 1.6;
  color: getColor('white-text');
  padding: 63px 24px;

  @media screen and (max-width: 479px) {
    font-size: calc(11px + (18 - 11) * ((100vw - 300px) / (480 - 300)));
    padding-top: calc(31px + (63 - 31) * ((100vw - 300px) / (480 - 300)));
    padding-right: calc(12px + (24 - 12) * ((100vw - 300px) / (480 - 300)));
    padding-bottom: calc(31px + (63 - 31) * ((100vw - 300px) / (480 - 300)));
    padding-left: calc(12px + (24 - 12) * ((100vw - 300px) / (480 - 300)));
  }
}
.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  transform: translateY(0);
  opacity: 1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.card__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor('black-text');
  margin-bottom: 4px;
}
.card__type {
  font-size: 16px;
  line-height: 1.9;
  color: getColor('grey-text');
  text-decoration: none;
}
