.join {
  //   margin-left: 70px;
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.join__list {
  display: flex;
  justify-content: center;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}
.join__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: getColor('white-text');
  background-color: rgba(255, 255, 255, 0.1);

  @include transitions(background-color);
}
.join__icon {
  width: 20px;
  height: 20px;
}
.join__link:hover,
.join__link:focus {
  background-color: getColor('accent-text');
  outline: none;
}
