.subscribe {
  //   margin-left: 93px;
  margin-top: 60px;
}
.subscribe__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe__button-form {
  margin-top: 20px;

  //   display: flex;
}
.subscribe__input {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: getColor('bgc-dark-accent');
  color: getColor('white-text');
  font-size: 14px;
  padding: 15px 16px;
  width: 100%;
  //   margin-right: 12px;
  margin-bottom: 20px;

  @include transitions(border-color);
}
.subscribe__input:focus,
.subscribe__input:hover {
  outline: none;
  border-color: getColor('accent-text');
}
.subscribe__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: getColor('button');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 28px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: getColor('white-text');
  cursor: pointer;
  outline-color: getColor('white-text');
  margin: 0 auto;
}
.subscribe__icon {
  margin-left: 10px;
  fill: getColor('white-text');
}
