.contacts__mobile {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.contacts-mobile__item {
  &:not(:last-child) {
    // margin-bottom: 32px;
    margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (480 - 300)));
  }
  &:last-child {
    margin-bottom: 64px;
  }
}
.contacts-mobile__link {
  font-weight: 500;
  // font-size: 24px;
  font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (480 - 300)));
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: getColor('grey-text');
  @include transitions(color font-size);

  &:hover,
  &:focus {
    color: getColor('accent-text');
    // font-size: 34px;
    font-size: calc(17px + (34 - 17) * ((100vw - 300px) / (480 - 300)));
    outline: none;
  }
}
.contacts {
  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 21px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-top: 32px;
  }
}
.contacts__item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  @media screen and (max-width: $max-tablet) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: getColor('grey-text');
  @include transitions(color);

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: getColor('accent-text');
    outline: none;
  }
}
