.header {
  position: relative;
  background-color: getColor('bgc-main');
  border-bottom: 1px solid getColor('border');
}

.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: $max-mobile) {
    justify-content: space-between;
    min-height: 60px;
  }
}

.nav__button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @include transitions(fill);

  .close__mob {
    display: none;
  }

  &.is-open {
    .close__mob {
      display: block;
    }
    .menu__mob {
      display: none;
    }
  }

  &:hover,
  &:focus {
    fill: getColor('button');
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
