.site__nav {
  @media not screen and (min-width: $tablet) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: getColor('bgc-main');
    padding: 48px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &.is-open {
      display: block;
    }
  }
  display: flex;
}

.site-nav__list {
  @media not screen and (min-width: $tablet) {
    // margin-bottom: 302px;
    margin-bottom: calc(151px + (302 - 151) * ((100vw - 300px) / (480 - 300)));
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
    margin-right: 84px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.site-nav__item {
  position: relative;

  @media not screen and (min-width: $tablet) {
    &:not(:last-child) {
      // margin-bottom: 32px;
      margin-bottom: calc(16px + (32 - 16) * ((100vw - 300px) / (480 - 300)));
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  @media not screen and (min-width: $tablet) {
    padding-top: 16px;
    padding-bottom: 16px;
    // font-size: 40px;
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (480 - 300)));
  }
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  @include transitions(color);
  &:hover,
  &:focus {
    color: getColor('accent-text');
    outline: none;
  }
}
.site-nav__link--current {
  color: getColor('accent-text');

  @media screen and (min-width: $tablet) {
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: getColor('accent-text');
      margin-top: 28px;
    }
  }
}
