.site__nav {
  @media screen and (max-width: $max-mobile) {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: getColor('bgc-main');
    padding: 48px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.site-nav__list {
  margin-bottom: 302px;
}

.site-nav__item {
  margin-bottom: 32px;
}

.site-nav__link {
  @media screen and (max-width: $max-mobile) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
  @include transitions(color);

  &:hover,
  &:focus {
    color: getColor('accent-text');
    outline: none;
  }
}
.site-nav__link--current {
  color: getColor('accent-text');
}
