.mob-social__list {
  display: flex;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mob-social__item {
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mob-social__link {
  font-weight: 500;
  // font-size: 18px;
  font-size: calc(9px + (18 - 9) * ((100vw - 300px) / (480 - 300)));
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: getColor('grey-text');

  @include transitions(color);

  &:hover,
  &:focus {
    color: getColor('accent-text');
    outline: none;
  }
}
