.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: getFont-size('logo');
  line-height: 1.2;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }
}

.logo__accent {
  color: getColor('accent-text');
}
