.hero {
  background-color: getColor('bgc-dark-accent');
}
.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 480px) {
    height: calc(200px + (400 - 200) * ((100vw - 300px) / (480 - 300)));
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bgimage/optimisized-jpg/hero__mob.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__mob@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__mob@3x.jpg);
    }
  }

  @media screen and (min-width: 480px) and (max-width: $max-mobile) {
    width: 100%;
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bgimage/optimisized-jpg/hero__mob.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__mob@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__mob@3x.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    max-width: 768px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bgimage/optimisized-jpg/hero__tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__tablet@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__tablet@3x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bgimage/optimisized-jpg/hero__desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bgimage/optimisized-jpg/hero__desktop@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../mages/hero-bgimage/optimisized-jpg/hero__desktop@3x.jpg);
    }
  }
}
.hero__picture {
  position: relative;
}
.hero__essense {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__title {
  width: 360px;
  font-size: 26px;
  line-height: 1.6;
  font-weight: 900;
  color: getColor('white-text');
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (max-width: 480px) {
    font-size: calc(13px + (26 - 13) * ((100vw - 300px) / (480 - 300)));
  }

  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}
.hero__button {
  @extend %button;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-style: none;

  @media screen and (max-width: 480px) {
    width: calc(100px + (200 - 100) * ((100vw - 300px) / (480 - 300)));
    height: calc(25px + (50 - 25) * ((100vw - 300px) / (480 - 300)));
    font-size: calc(6px + (16 - 8) * ((100vw - 300px) / (480 - 300)));
    padding-top: calc(5px + (10 - 5) * ((100vw - 300px) / (480 - 300)));
    padding-right: calc(16px + (32 - 15) * ((100vw - 300px) / (480 - 300)));
    padding-bottom: calc(5px + (10 - 5) * ((100vw - 300px) / (480 - 300)));
    padding-left: calc(16px + (32 - 15) * ((100vw - 300px) / (480 - 300)));
  }
}
