.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('bgc-secondary');

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('black-text');
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: getFont-size('section-title');
    margin-bottom: 50px;
  }
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: getColor('bgc-main');

  @media screen and (max-width: $max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__photo {
  width: 450px;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  color: getColor('grey-text');
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}
.team__social-list {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // margin-right: 122px;
  // padding-bottom: 24px;
  // margin-left: 122px;

  // @media screen and (min-width: $tablet) {
  //   padding-right: 74px;
  //   padding-bottom: 24px;
  //   padding-left: 74px;
  // }

  // @media screen and (min-width: $desktop) {
  //   padding-right: 32px;
  //   padding-bottom: 30px;
  //   padding-left: 32px;
  // }
}
.team__social-link {
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  // padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  margin-bottom: 24px;
}
.team__social-icon {
  width: 20px;
  height: 20px;
}
.team__social-link:hover,
.team__social-link:focus {
  background-color: getColor('button');
  fill: getColor('white-text');
  outline: none;
}
